@charset "utf-8";
body,html {
	position: relative;
	height: 100%
}

#main_header {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}



.header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1030;
	width: 100%
}

.j_leftnav {
	width: 180px
}

#logo {
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0
}

#logo a {
	font-size: 16px;
	font-family: "microsoft yahei";
	font-weight: 400;
	display: block
}

#logo i {
	background-image: url(../images/pic/logo.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-bottom: -6px;
	margin-right: 10px
}

#topnav {
	margin-left: 180px;
	height: 40px
}

#topnav li {
	width: 66px;
	float: left;
	border-right: 1px solid rgba(255,255,255,.06);
	position: relative
}

#topnav li a {
	padding: 10px 20px;
	display: block;
	height: 40px
}

#topnav li a:hover {
	background: rgba(158,158,158,.2)
}

#topnav .setupbtn {
	position: relative;
	width: 66px;
	height: 40px;
	line-height: 1.42857;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1)
}

#topnav .setupbtn i {
	display: block;
	width: 16px;
	height: 16px;
	margin: 2px auto 0;
	overflow: hidden;
	background: url(../images/ico/icon-set-bg.png) no-repeat
}

#topnav .setup_nav i {
	background-position: 0 0
}

#topnav .setup_layout i {
	background-position: 0 -32px
}

#topnav .setup_skin i {
	background-position: 0 -64px
}

#topnav .roleChagebtn i {
	background-position: 0 -96px
}

.rolenav {
	display: none
}

.list-group .role-p {
	height: 40px;
	line-height: 40px
}

#topnav .list-group .role-p a {
	display: block;
	padding: 0 20px;
	color: #3D4051
}

#topnav .list-group .role-p a:hover,#topnav .list-group .role-pactive a {
	background: #f6f6f6
}

#topnav .dropdown>.dropdown-menu {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 40px;
	min-width: 204px;
	z-index: 20;
	line-height: 20px;
	font-size: 14px;
	background-color: #fff;
	border-radius: 2px;
	white-space: nowrap;
	transform-origin: top left;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	transform: scale(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

#topnav .dropdown>.dropdown-menu .dropdown-adorn {
	background: url(../images/ico/TopAdorn.png) no-repeat;
	width: 15px;
	height: 8px;
	overflow: hidden;
	position: absolute;
	left: 24px;
	top: -8px
}

#topnav .dropdown.open>.dropdown-menu {
	visibility: visible;
	opacity: 1;
	transform: scale(1)
}

#topnav .panel-heading {
	padding: 10px 15px;
	color: #3D4051;
	background-color: #F2F7F7;
	border-bottom: 1px solid #e2edeb;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px
}

#topnav .list-group-item {
	padding: 10px 15px;
	border-bottom: 1px solid #f3f3f3;
	background: #fff
}

#topnav #j_fixed_all .radio-group,#topnav .setup-layout-lable {
	cursor: pointer
}

#topnav .setup-layout-lable .uiRadio12-input {
	margin-top: 4px
}

#topnav #j_fixed_all .radio-group {
	margin: 5px 0 0
}

#topnav #j_fixed_all .radio-group i {
	float: left;
	background: url(../images/ico/checkbox-bg.png) no-repeat;
	width: 16px;
	height: 16px;
	margin: 2px 5px 0 0
}

#topnav #j_fixed_all .radio-group.fixed-check i {
	background-position: -16px 0
}

.panel-body {
	min-width: 360px;
	padding: 15px;
	background-color: #f9f9f9
}

.panel-body:after,.panel-body:before,.row:after,.row:before {
	content: " ";
	display: table
}

.row {
	margin-left: -15px;
	margin-right: -15px
}

.skin-item {
	cursor: pointer;
	display: block;
	overflow: hidden;
	box-shadow: 0 0 2px rgba(0,0,0,.1);
	background: url(../images/ico/skin.png) no-repeat;
	width: 80px;
	height: 30px;
	line-height: 30px;
	position: relative;
	margin: 0 auto 15px
}

.logo-bg-c000000 {
	background-position: 0 0
}

.logo-bg-c009688 {
	background-position: 0 -30px
}

.logo-bg-c8bc34a {
	background-position: 0 -60px
}

.logo-bg-c00bcd4 {
	background-position: 0 -90px
}

.logo-bg-cffca28 {
	background-position: 0 -120px
}

.logo-bg-cf44336 {
	background-position: 0 -150px
}

.bar-bg-cffffff {
	background-position: -80px 0
}

.bar-bg-c009688 {
	background-position: -80px -30px
}

.bar-bg-c8bc34a {
	background-position: -80px -60px
}

.bar-bg-c00bcd4 {
	background-position: -80px -90px
}

.bar-bg-cffca28 {
	background-position: -80px -120px
}

.bar-bg-cf44336 {
	background-position: -80px -150px
}

.header-bg-c000000 {
	background-position: -160px 0
}

.header-bg-c009688 {
	background-position: -160px -30px
}

.header-bg-c8bc34a {
	background-position: -160px -60px
}

.header-bg-c00bcd4 {
	background-position: -160px -90px
}

.header-bg-cffca28 {
	background-position: -160px -120px
}

.header-bg-cf44336 {
	background-position: -160px -150px
}

.skin-item.active {
	background-image: url(../images/ico/skin_active.png)
}

.logo-bg-c000000.active {
	background-position: 0 0
}

.logo-bg-c009688.active {
	background-position: 0 -30px
}

.logo-bg-c8bc34a.active {
	background-position: 0 -60px
}

.logo-bg-c00bcd4.active {
	background-position: 0 -90px
}

.logo-bg-cffca28.active {
	background-position: 0 -120px
}

.logo-bg-cf44336.active {
	background-position: 0 -150px
}

.bar-bg-cffffff.active {
	background-position: -80px 0
}

.bar-bg-c009688.active {
	background-position: -80px -30px
}

.bar-bg-c8bc34a.active {
	background-position: -80px -60px
}

.bar-bg-c00bcd4.active {
	background-position: -80px -90px
}

.bar-bg-cffca28.active {
	background-position: -80px -120px
}

.bar-bg-cf44336.active {
	background-position: -80px -150px
}

.header-bg-c000000.active {
	background-position: -160px 0
}

.header-bg-c009688.active {
	background-position: -160px -30px
}

.header-bg-c8bc34a.active {
	background-position: -160px -60px
}

.header-bg-c00bcd4.active {
	background-position: -160px -90px
}

.header-bg-cffca28.active {
	background-position: -160px -120px
}

.header-bg-cf44336.active {
	background-position: -160px -150px
}

#main_box {
	position: relative
}

#main_box:before {
	content: " ";
	line-height: 0;
	z-index: -2;
	position: absolute;
	display: block;
	width: 100%;
	max-width: inherit;
	top: 0;
	bottom: 0;
	background-color: #fff;
	box-shadow: 0 -2px 2px rgba(0,0,0,.2)
}

#main_header.header-fixed+#main_box {
	padding-top: 40px
}

#nav {
	box-shadow: 2px 0 2px 0 rgba(0,0,0,.12)
}

.nav-vertical #nav:before {
	left: 0
}

#nav.nav-fixed {
	position: fixed;
	top: 40px
}

.nav-wrapper {
	position: relative;
	width: 100%;
	height: 100%
}

.rolechange {
	width: 100%;
	height: 40px;
	overflow: hidden
}

.rolechange p {
	float: left;
	width: 50%;
	background: #485161;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	cursor: pointer
}

.rolechange .Pacitve {
	background: #289be5
}

.list-group .role-p i,.rolechange p i {
	background: url(../images/ico/role.png) no-repeat;
	width: 16px;
	height: 15px;
	overflow: hidden;
	display: inline-block;
	margin-bottom: -2px;
	margin-right: 10px
}

.list-group .role-p .personal,.rolechange p .personal {
	background-position: 0 0
}

.list-group .role-p .manager,.rolechange p .manager {
	background-position: 0 -50px
}

.rolechange .Pacitve .personal {
	background-position: 0 -25px
}

.rolechange .Pacitve .manager {
	background-position: 0 -75px
}

.nav-ul>li {
	position: relative;
	text-align: left
}

.nav-ul li a {
	display: block;
	font-size: 13px;
	position: relative;
	min-height: 40px;
	line-height: 20px
}

.nav-ul>li>a {
	position: relative;
	white-space: nowrap;
	padding: 15px
}

.nav-ul>li>a strong {
	font-weight: 400
}

.nav-ul .small-icon-logo {
	vertical-align: middle;
	width: 20px;
	height: 20px
}

.nav-ul .icon-down {
	position: absolute;
	top: 6px;
	right: 0;
	background: url(../images/ico/NavAdorn.png) no-repeat;
	width: 12px;
	height: 10px;
	overflow: hidden;
	opacity: .6;
	filter: alpha(opacity=60);
	transition: all .3s ease-in-out
}

.nav-ul li.active>a .icon-down,.nav-ul li.open>a .icon-down,.nav-ul li:hover>a .icon-down {
	opacity: 1;
	filter: alpha(opacity=100)
}

.nav-ul li.open>a .icon-down {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)
}

.nav-ul ul {
	display: none
}

.sub-2-nav .icon-circle {
	float: left;
	background: url(../images/ico/icon-circle.png) no-repeat;
	width: 16px;
	height: 16px;
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	margin-top: 4px;
	opacity: .5;
	filter: alpha(opacity=50)
}

.nav-ul>li>.icon-down {
	display: none
}

.nav-collapsed-min .j_leftnav {
	width: 50px
}

.nav-collapsed-min #topnav {
	margin-left: 50px
}

.nav-collapsed-min #logo i {
	margin-right: 0
}

.nav-collapsed-min #logo span {
	display: none
}

.nav-collapsed-min .slimScrollDiv {
	overflow: visible!important;
	height: auto!important
}

.nav-collapsed-min .nav-wrapper-content {
	overflow: visible!important
}

.nav-collapsed-min .slimScrollDiv .slimScrollBar,.nav-collapsed-min .slimScrollDiv .slimScrollRail {
	display: none!important
}

.nav-collapsed-min .nav-ul>li>a {
	text-align: center
}

.nav-collapsed-min .nav-ul>li>a .icon-down {
	display: none
}

.nav-features {
	border-top-width: 2px;
	border-top-style: solid;
	padding: 10px 0 10px 10px;
	color: #8f9194;
	position: relative
}

.nav-features i {
	display: none;
	background: url(../images/ico/icon-nav-bg.png) no-repeat 0 -228px;
	width: 25px;
	height: 24px;
	overflow: hidden;
	cursor: pointer
}

.nav-features p {
	white-space: nowrap;
	cursor: default
}

#main_content {
	margin-left: 180px;
	min-height: 100%;
	overflow: hidden
}

.rippleria-ink {
	display: block;
	position: absolute;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	transform: scale(0);
	-webkit-transform: scale(0);
	z-index: 2
}

.rippleria-dark .rippleria-ink {
	background: rgba(0,0,0,.2)
}

.rippleria-wrap {
	position: relative;
	z-index: 0
}

.rippleria-blured .rippleria-ink {
	-webkit-filter: blur(2px);
	filter: blur(2px)
}

@keyframes rippleria {
	100% {
		opacity: 0;
		transform: scale(1.5)
	}
}

@-webkit-keyframes rippleria {
	100% {
		opacity: 0;
		-webkit-transform: scale(1.5)
	}
}

.nav-vertical #nav {
	float: left;
	z-index: 11
}

.nav-vertical #nav.nav-fixed {
	left: 0;
	bottom: 0;
	float: none
}

.nav-vertical .nav-ul .small-icon-logo {
	float: left;
	display: inline-block;
	margin-right: 10px
}

.nav-collapsed-min .sub-2-nav {
	z-index: 9;
	position: absolute;
	left: 100%;
	top: 0;
	width: 150px;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.2)
}

.nav-vertical .sub-2-nav li>a {
	padding: 12px 15px 12px 25px
}

.nav-vertical .sub-3-nav li>a {
	padding: 12px 15px 12px 50px
}

.nav-collapsed-min .sub-2-nav .icon-down {
	background: url(../images/ico/NavAdorn2.png) no-repeat;
	width: 9px;
	height: 12px;
	top: 5px;
	overflow: hidden;
	opacity: .6;
	filter: alpha(opacity=60)
}

.nav-collapsed-min .sub-3-nav {
	z-index: 9;
	position: absolute;
	left: 100%;
	top: 0;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px
}

.nav-collapsed-min .nav-ul>li.open .sub-2-nav,.nav-collapsed-min .nav-ul>li:hover .sub-2-nav {
	display: block!important
}

.nav-collapsed-min .sub-2-nav li {
	white-space: nowrap
}

.nav-collapsed-min .sub-2-nav>li:hover>.sub-3-nav {
	display: block!important
}

.nav-collapsed-min.nav-vertical .sub-3-nav li>a {
	padding: 12px 15px 12px 15px
}

.nav-collapsed-min .sub-2-nav>li.active>a .icon-down,.nav-collapsed-min .sub-2-nav>li:hover>a .icon-circle,.nav-collapsed-min .sub-2-nav>li:hover>a .icon-down {
	opacity: 1;
	filter: alpha(opacity=100)
}

.nav-collapsed-min.nav-horizontal .nav-features {
	position: absolute;
	right: 100px;
	top: -7px;
	z-index: 5;
	padding-bottom: 0
}

.nav-collapsed-min .nav-features div {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 5
}

.nav-vertical.nav-collapsed-min .nav-features div {
	top: auto;
	bottom: 0
}

.nav-horizontal.nav-collapsed-min .nav-features div {
	bottom: auto
}

.nav-collapsed-min.nav-horizontal .more-nav-li {
	top: 15px
}

.nav-horizontal #nav {
	width: auto;
	float: none;
	z-index: 9;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #d5d5d5
}

.nav-horizontal #nav.nav-fixed {
	left: 0;
	right: 0;
	bottom: auto
}

.nav-horizontal .slimScrollDiv {
	overflow: visible!important;
	height: auto!important
}

.nav-horizontal .nav-wrapper-content {
	overflow: visible!important
}

.nav-horizontal .nav-fixed .nav-wrapper-content {
	text-align: center
}

.nav-horizontal .slimScrollDiv .slimScrollBar,.nav-horizontal .slimScrollDiv .slimScrollRail {
	display: none!important
}

.nav-horizontal .nav-ul>li {
	float: left
}

.nav-horizontal .nav-fixed .nav-ul>li {
	display: inline-block;
	float: none
}

.nav-horizontal .nav-ul {
	font-size: 0;
	line-height: 0
}

.nav-horizontal .nav-ul>li>a {
	padding: 5px 30px;
	text-align: center;
	font-weight: 400
}

.nav-horizontal .nav-ul .small-icon-logo {
	display: block;
	margin: 0 auto
}

.nav-horizontal .nav-ul>li>a strong {
	margin: 0;
	display: block;
	font-size: 12px
}

.nav-horizontal .nav-ul>li>a .icon-down {
	display: none
}

.nav-horizontal .sub-2-nav {
	z-index: 9;
	position: absolute;
	left: 0;
	top: 100%;
	min-width: 150px;
	width: auto;
	background-color: #1f242a;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px
}

.nav-horizontal .sub-2-nav li {
	white-space: nowrap
}

.nav-horizontal .sub-2-nav li>a {
	padding: 12px 40px 12px 20px
}

.nav-horizontal .sub-3-nav li>a {
	padding: 12px 20px 12px 20px
}

.nav-horizontal .sub-2-nav>li .icon-down {
	background: url(../images/ico/NavAdorn2.png) no-repeat;
	width: 9px;
	height: 12px;
	top: 5px;
	overflow: hidden;
	opacity: .6;
	filter: alpha(opacity=60)
}

.nav-horizontal .sub-3-nav {
	z-index: 9;
	position: absolute;
	left: 100%;
	top: 0;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px
}

.nav-horizontal .nav-ul>li:hover>.sub-2-nav {
	display: block!important
}

.nav-horizontal .sub-2-nav>li:hover>.sub-3-nav {
	display: block!important
}

.nav-horizontal .sub-2-nav>li.active>a .icon-down,.nav-horizontal .sub-2-nav>li:hover>a .icon-circle,.nav-horizontal .sub-2-nav>li:hover>a .icon-down {
	opacity: 1;
	filter: alpha(opacity=100)
}

.nav-horizontal .nav-features {
	position: absolute;
	right: 100px;
	top: 5px;
	border-top: none;
	z-index: 5
}

.nav-horizontal .nav-features div {
	display: none;
	position: absolute;
	left: 0;
	top: 100%
}

.nav-horizontal .sub-2-nav li>a .icon-down {
	right: -20px
}

.nav-horizontal .nav-ul>li>.icon-down {
	display: block;
	position: absolute;
	top: 32px;
	right: 10px
}

.nav-horizontal .nav-ul>li.active>.icon-down {
	opacity: 1;
	filter: alpha(opacity=100)
}

.nav-horizontal .nav-ul>li:hover>.icon-down {
	opacity: 1;
	filter: alpha(opacity=100)
}

.nav-collapsed-min .nav-ul>li>a strong {
	display: none
}

.nav-collapsed-min.nav-horizontal #nav {
	width: auto
}

.nav-collapsed-min.nav-horizontal .nav-ul>li>.icon-down {
	display: none
}

.nav-horizontal .nav-features div {
	display: none
}

.nav-collapsed-min .nav-features i,.nav-collapsed-min .nav-features:hover div,.nav-horizontal .nav-features i,.nav-horizontal .nav-features:hover div {
	display: block
}

.preview-mask {
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .8;
	filter: alpha(opacity=80);
	position: fixed;
	z-index: 1031
}

.preview-close {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 20;
	padding: 20px;
	border-radius: 3px;
	background: #333;
	background-color: RGBA(0,0,0,.3);
	z-index: 1033
}

.preview-close:hover {
	background: #444
}

.preview-close:active {
	background: #555
}

.preview-icon-close {
	width: 19px;
	height: 19px;
	background-position: 0 -120px
}

#previewDiv {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1032
}

.preview {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1032
}

.preview-picBox {
	position: absolute;
	z-index: 10;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none
}

.preview-picBox-pic {
	box-shadow: 0 0 15px RGBA(0,0,0,.3);
	position: relative;
	left: 0;
	top: 0
}

.preview-cursor-move .preview-picBox-pic {
	cursor: move
}

.preview-toolbar-wrapper {
	position: absolute;
	width: 100%;
	height: 75px;
	bottom: 10px;
	z-index: 1033
}

.preview-toolbar {
	cursor: default;
	margin: 0 auto;
	height: 100%;
	border-radius: 3px;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
	position: relative;
	text-align: center
}

.preview-toolbar-trans {
	opacity: 1;
	filter: alpha(opacity=0)!important
}

.preview-toolbar-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .8!important;
	filter: alpha(opacity=80)!important;
	border-radius: 3px;
	left: 0
}

.preview-toolbar-picName {
	border-bottom: #666 1px solid;
	border-bottom-color: RGBA(255,255,255,.2);
	text-align: center;
	height: 33px;
	line-height: 33px;
	color: #fff;
	position: relative;
	z-index: 1000;
	margin: 0 12px!important;
	font-size: 12px!important;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

.preview-toolbar-tools {
	display: inline-block;
	list-style: none;
	height: 41px;
	padding: 0;
	padding: 0 0 0 12px
}

.preview-toolbar-tools-item {
	float: left;
	width: 40px;
	height: 30px;
	line-height: 30px;
	position: relative;
	z-index: 1000;
	margin-top: 5px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	font-size: 12px;
	outline: 0;
	text-decoration: none
}

.preview-toolbar-tools-item-dis {
	background: 0 0!important;
	cursor: default
}

.preview-icon {
	background-image: url(../images/bg/preview.png)
}

.preview-icon {
	display: inline-block
}

.preview-icon-pre {
	width: 18px;
	height: 16px;
	background-position: 0 0;
	top: 7px;
	left: 10px
}

.preview-toolbar-tools-item .preview-icon,.preview-toolbar-tools-item .preview-text {
	position: absolute
}

.preview-toolbar-tools-item-dis .preview-icon,.preview-toolbar-tools-item-dis .preview-text {
	opacity: .56!important;
	filter: alpha(opacity=56)!important
}

.preview-icon-next {
	background-position: -40px 0;
	width: 18px;
	height: 16px;
	top: 7px;
	left: 10px
}

.preview-toolbar-tools-item {
	float: left;
	width: 40px;
	height: 30px;
	line-height: 30px;
	position: relative;
	z-index: 1000;
	margin-top: 5px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	font-size: 12px;
	outline: 0;
	text-decoration: none
}

.preview-toolbar-tools-item-hover,.preview-toolbar-tools-item:hover {
	background: #2e2e2e
}

.preview-icon-origin {
	background-position: -200px 0;
	width: 17px;
	height: 12px;
	top: 9px;
	left: 11px
}

.preview-icon-refresh {
	background-position: -240px 0;
	width: 17px;
	height: 15px;
	left: 11px;
	top: 7px
}

.more-nav-li {
	color: #fff;
	position: absolute;
	right: 162px;
	top: 25px;
	display: none;
	z-index: 6
}

.open_link {
	height: auto
}

.logo-c000000 #logo {
	background-color: #000
}

.logo-c009688 #logo {
	background-color: #009688
}

.logo-c8bc34a #logo {
	background-color: #8BC34A
}

.logo-c00bcd4 #logo {
	background-color: #00BCD4
}

.logo-cffca28 #logo {
	background-color: #FFCA28
}

.logo-cf44336 #logo {
	background-color: #F44336
}

.logo-cffffff #logo {
	background-color: #fff
}

.logo-c000000 #logo a {
	color: #fff
}

.logo-c009688 #logo a {
	color: #fff
}

.logo-c8bc34a #logo a {
	color: #fff
}

.logo-c00bcd4 #logo a {
	color: #fff
}

.logo-cffca28 #logo a {
	color: #fff
}

.logo-cf44336 #logo a {
	color: #fff
}

.logo-cffffff #logo a {
	color: #000
}

.bar-c000000 #topnav {
	background-color: #000
}

.bar-c009688 #topnav {
	background-color: #009688
}

.bar-c8bc34a #topnav {
	background-color: #8BC34A
}

.bar-c00bcd4 #topnav {
	background-color: #00BCD4
}

.bar-cffca28 #topnav {
	background-color: #FFCA28
}

.bar-cf44336 #topnav {
	background-color: #F44336
}

.bar-cffffff #topnav {
	background-color: #fff
}

.bar-c000000 #topnav .setup_nav i,.bar-c009688 #topnav .setup_nav i,.bar-c00bcd4 #topnav .setup_nav i,.bar-c8bc34a #topnav .setup_nav i,.bar-cf44336 #topnav .setup_nav i,.bar-cffca28 #topnav .setup_nav i,.nav-white #topnav .setup_nav i {
	background-position: 0 -16px
}

.bar-c009688 #topnav .setup_layout i,.bar-c00bcd4 #topnav .setup_layout i,.bar-c8bc34a #topnav .setup_layout i,.bar-cf44336 #topnav .setup_layout i,.bar-cffca28 #topnav .setup_layout i,.nav-white #topnav .setup_layout i {
	background-position: 0 -48px
}

.bar-c009688 #topnav .setup_skin i,.bar-c00bcd4 #topnav .setup_skin i,.bar-c8bc34a #topnav .setup_skin i,.bar-cf44336 #topnav .setup_skin i,.bar-cffca28 #topnav .setup_skin i,.nav-white #topnav .setup_skin i {
	background-position: 0 -80px
}

.bar-c009688 #topnav .roleChagebtn i,.bar-c00bcd4 #topnav .roleChagebtn i,.bar-c8bc34a #topnav .roleChagebtn i,.bar-cf44336 #topnav .roleChagebtn i,.bar-cffca28 #topnav .roleChagebtn i,.nav-white #topnav .roleChagebtn i {
	background-position: 0 -112px
}

.bar-c000000 #topnav .exit-div i,.bar-c009688 #topnav .exit-div i,.bar-c00bcd4 #topnav .exit-div i,.bar-c8bc34a #topnav .exit-div i,.bar-cf44336 #topnav .exit-div i,.bar-cffca28 #topnav .exit-div i,.nav-white #topnav .exit-div i {
	background-position: 0 -21px
}

.bar-c000000 #topnav .exit-div span,.bar-c009688 #topnav .exit-div span,.bar-c00bcd4 #topnav .exit-div span,.bar-c8bc34a #topnav .exit-div span,.bar-cf44336 #topnav .exit-div span,.bar-cffca28 #topnav .exit-div span,.nav-white #topnav .exit-div span {
	color: #fff
}

.bar-c000000 #topnav .user-div i,.bar-c009688 #topnav .user-div i,.bar-c00bcd4 #topnav .user-div i,.bar-c8bc34a #topnav .user-div i,.bar-cf44336 #topnav .user-div i,.bar-cffca28 #topnav .user-div i,.nav-white #topnav .user-div i {
	background-position: 0 -24px
}

.bar-c000000 #topnav .user-div span,.bar-c009688 #topnav .user-div span,.bar-c00bcd4 #topnav .user-div span,.bar-c8bc34a #topnav .user-div span,.bar-cf44336 #topnav .user-div span,.bar-cffca28 #topnav .user-div span,.nav-white #topnav .user-div span {
	color: #fff
}

.nav-black.logo-cffffff #logo i {
	background-position: 0 0
}

.nav-black #logo {
	color: #fff
}

.nav-black #logo i {
	background-position: -25px 0
}

.nav-black #nav {
	background: #262B33
}

.nav-black .nav-ul li a {
	color: #8f9194
}

.nav-black .nav-ul li.active>a,.nav-black .nav-ul>li.open>a,.nav-black .nav-ul>li:hover>a,.nav-black .sub-2-nav li.open>a,.nav-black .sub-2-nav>li:hover>a,.nav-black.nav-collapsed-min .sub-2-nav>li:hover>a,.nav-black.nav-collapsed-min .sub-3-nav li:hover a,.nav-black.nav-horizontal .nav-ul li.active>a,.nav-black.nav-horizontal .sub-2-nav>li:hover>.sub-3-nav li:hover a,.nav-black.nav-horizontal .sub-2-nav>li:hover>a {
	color: #fff
}

.nav-black.nav-horizontal .nav-ul>li:hover>a {
	background-color: transparent;
	color: #fff
}

.nav-black .nav-ul>li.open>a,.nav-black .sub-2-nav,.nav-black .sub-3-nav,.nav-black.nav-collapsed-min .nav-features div,.nav-black.nav-collapsed-min .nav-ul>li:hover a,.nav-black.nav-horizontal .nav-features div {
	background-color: #1f242a
}

.nav-black .nav-ul .icon-down {
	background-position: 0 0
}

.nav-black .sub-2-nav .icon-circle {
	background-position: 0 -2px
}

.nav-black .sub-2-nav li a:hover .icon-circle,.nav-black .sub-2-nav li.active .icon-circle,.nav-black .sub-2-nav li.open .icon-circle {
	opacity: 1;
	filter: alpha(opacity=100)
}

.nav-black .sub-2-nav li>a:hover {
	background-color: #393d42
}

.nav-black.nav-collapsed-min .sub-2-nav .icon-down,.nav-black.nav-horizontal .sub-2-nav .icon-down {
	background-position: 0 0
}

.nav-black .nav-features {
	border-top-color: #1b1f24
}

.nav-black .nav-features:hover i {
	background-position: 0 -258px
}

.nav-black.nav-collapsed-min .nav-features div,.nav-black.nav-horizontal .nav-features div {
	padding: 15px
}

.nav-white.nav-horizontal #nav {
	background-color: #eee
}

.nav-white #logo a {
	color: #fff
}

.nav-white #logo i {
	background-position: -25px 0
}

.nav-white #nav {
	background-color: #fff
}

.nav-white .nav-ul li a {
	color: #929599
}

.nav-white .nav-ul li.active>a,.nav-white .nav-ul>li.open>a,.nav-white .nav-ul>li:hover>a,.nav-white .sub-2-nav li.open>a,.nav-white .sub-2-nav>li:hover>a,.nav-white.nav-collapsed-min .sub-2-nav>li:hover>a,.nav-white.nav-collapsed-min .sub-3-nav li:hover a,.nav-white.nav-horizontal .nav-ul li.active>a,.nav-white.nav-horizontal .sub-2-nav>li:hover>.sub-3-nav li:hover a,.nav-white.nav-horizontal .sub-2-nav>li:hover>a {
	color: #000
}

.nav-white.nav-horizontal .nav-ul>li:hover>a {
	background-color: transparent;
	color: #000
}

.nav-white .nav-ul>li.open>a,.nav-white .sub-2-nav,.nav-white .sub-3-nav,.nav-white.nav-collapsed-min .nav-features div,.nav-white.nav-collapsed-min .nav-ul>li:hover a,.nav-white.nav-horizontal .nav-features div {
	background-color: #f6f6f6
}

.nav-white .nav-ul .icon-down {
	background-position: 0 bottom
}

.nav-white .sub-2-nav .icon-circle {
	background-position: 0 -36px
}

.nav-white .sub-2-nav li a:hover .icon-circle,.nav-white .sub-2-nav li.active .icon-circle,.nav-white .sub-2-nav li.open .icon-circle {
	background-position: 0 -70px
}

.nav-white .sub-2-nav li>a:hover {
	background-color: #e5e5e5
}

.nav-white.nav-collapsed-min .sub-2-nav .icon-down,.nav-white.nav-horizontal .sub-2-nav .icon-down {
	background-position: right 0
}

.nav-white .nav-features {
	border-top-color: #eee
}

.nav-white .nav-features:hover i {
	background-position: 0 -288px
}

.nav-white.nav-collapsed-min .nav-features div,.nav-white.nav-horizontal .nav-features div {
	padding: 15px
}

.preview-icon-delete {
	background-position: -360px -38px;
	width: 16px;
	height: 14px;
	left: 12px;
	top: 8px
}

.nav-ul .small-icon-logo {
	background: url(../images/ico/icon-nav-bg.png)
}

.nav-ul>li>a .small-icon-num1 {
	background-position: 0 0
}

.nav-ul>li>a .small-icon-num2 {
	background-position: 0 -20px
}

.nav-ul>li>a .small-icon-num3 {
	background-position: 0 -40px
}

.nav-ul>li>a .small-icon-num4 {
	background-position: 0 -60px
}

.nav-ul>li>a .small-icon-num5 {
	background-position: 0 -80px
}

.nav-ul>li>a .small-icon-num6 {
	background-position: 0 -100px
}

.nav-ul>li>a .small-icon-num7 {
	background-position: 0 -120px
}

.nav-ul>li>a .small-icon-num8 {
	background-position: 0 -140px
}

.nav-ul>li>a .small-icon-num9 {
	background-position: 0 -160px
}

.nav-ul>li>a .small-icon-num10 {
	background-position: 0 -180px
}

.nav-black .nav-ul>li.active>a .small-icon-num1,.nav-black .nav-ul>li.open>a .small-icon-num1,.nav-black .nav-ul>li:hover>a .small-icon-num1 {
	background-position: -20px 0
}

.nav-black .nav-ul>li.active>a .small-icon-num2,.nav-black .nav-ul>li.open>a .small-icon-num2,.nav-black .nav-ul>li:hover>a .small-icon-num2 {
	background-position: -20px -20px
}

.nav-black .nav-ul>li.active>a .small-icon-num3,.nav-black .nav-ul>li.open>a .small-icon-num3,.nav-black .nav-ul>li:hover>a .small-icon-num3 {
	background-position: -20px -40px
}

.nav-black .nav-ul>li.active>a .small-icon-num4,.nav-black .nav-ul>li.open>a .small-icon-num4,.nav-black .nav-ul>li:hover>a .small-icon-num4 {
	background-position: -20px -60px
}

.nav-black .nav-ul>li.active>a .small-icon-num5,.nav-black .nav-ul>li.open>a .small-icon-num5,.nav-black .nav-ul>li:hover>a .small-icon-num5 {
	background-position: -20px -80px
}

.nav-black .nav-ul>li.active>a .small-icon-num6,.nav-black .nav-ul>li.open>a .small-icon-num6,.nav-black .nav-ul>li:hover>a .small-icon-num6 {
	background-position: -20px -100px
}

.nav-black .nav-ul>li.active>a .small-icon-num7,.nav-black .nav-ul>li.open>a .small-icon-num7,.nav-black .nav-ul>li:hover>a .small-icon-num7 {
	background-position: -20px -120px
}

.nav-black .nav-ul>li.active>a .small-icon-num8,.nav-black .nav-ul>li.open>a .small-icon-num8,.nav-black .nav-ul>li:hover>a .small-icon-num8 {
	background-position: -20px -140px
}

.nav-black .nav-ul>li.active>a .small-icon-num9,.nav-black .nav-ul>li.open>a .small-icon-num9,.nav-black .nav-ul>li:hover>a .small-icon-num9 {
	background-position: -20px -160px
}

.nav-black .nav-ul>li.active>a .small-icon-num10,.nav-black .nav-ul>li.open>a .small-icon-num10,.nav-black .nav-ul>li:hover>a .small-icon-num10 {
	background-position: -20px -180px
}

.nav-white .nav-ul>li.active>a .small-icon-num1,.nav-white .nav-ul>li.open>a .small-icon-num1,.nav-white .nav-ul>li:hover>a .small-icon-num1 {
	background-position: -40px 0
}

.nav-white .nav-ul>li.active>a .small-icon-num2,.nav-white .nav-ul>li.open>a .small-icon-num2,.nav-white .nav-ul>li:hover>a .small-icon-num2 {
	background-position: -40px -20px
}

.nav-white .nav-ul>li.active>a .small-icon-num3,.nav-white .nav-ul>li.open>a .small-icon-num3,.nav-white .nav-ul>li:hover>a .small-icon-num3 {
	background-position: -40px -40px
}

.nav-white .nav-ul>li.active>a .small-icon-num4,.nav-white .nav-ul>li.open>a .small-icon-num4,.nav-white .nav-ul>li:hover>a .small-icon-num4 {
	background-position: -40px -60px
}

.nav-white .nav-ul>li.active>a .small-icon-num5,.nav-white .nav-ul>li.open>a .small-icon-num5,.nav-white .nav-ul>li:hover>a .small-icon-num5 {
	background-position: -40px -80px
}

.nav-white .nav-ul>li.active>a .small-icon-num6,.nav-white .nav-ul>li.open>a .small-icon-num6,.nav-white .nav-ul>li:hover>a .small-icon-num6 {
	background-position: -40px -100px
}

.nav-white .nav-ul>li.active>a .small-icon-num7,.nav-white .nav-ul>li.open>a .small-icon-num7,.nav-white .nav-ul>li:hover>a .small-icon-num7 {
	background-position: -40px -120px
}

.nav-white .nav-ul>li.active>a .small-icon-num8,.nav-white .nav-ul>li.open>a .small-icon-num8,.nav-white .nav-ul>li:hover>a .small-icon-num8 {
	background-position: -40px -140px
}

.nav-white .nav-ul>li.active>a .small-icon-num9,.nav-white .nav-ul>li.open>a .small-icon-num9,.nav-white .nav-ul>li:hover>a .small-icon-num9 {
	background-position: -40px -160px
}

.nav-white .nav-ul>li.active>a .small-icon-num10,.nav-white .nav-ul>li.open>a .small-icon-num10,.nav-white .nav-ul>li:hover>a .small-icon-num10 {
	background-position: -40px -180px
}

.nav-white .rolechange p {
	background: #ebeaea;
	color: #929599
}

.list-group .role-p .personal,.rolechange p .personal {
	background-position: 0 -150px
}

.list-group .role-p .manager,.rolechange p .manager {
	background-position: 0 -175px
}

.nav-white .rolechange .Pacitve {
	background: #ccc;
	color: #000
}

.nav-white .rolechange .Pacitve .personal {
	background-position: 0 -100px
}

.nav-white .rolechange .Pacitve .manager {
	background-position: 0 -125px
}

.exit-div {
	float: right;
	height: 40px;
	color: #000;
	line-height: 40px;
	margin-right: 20px
}

.exit-div i {
	background: url(../images/ico/exit.png) no-repeat;
	display: inline-block;
	width: 21px;
	height: 20px;
	margin-bottom: -6px;
	margin-right: 10px
}

.exit-div span {
	color: #737373
}

.user-div {
	float: right;
	height: 40px;
	color: #000;
	line-height: 40px;
	margin-right: 30px
}

.user-div i {
	background: url(../images/ico/user.png) no-repeat;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-bottom: -7px;
	margin-right: 10px
}

.user-div span {
	color: #737373
}