@charset "utf-8";

.w960{ width: 960px; margin-left:  auto;margin-right:  auto;}
.ysbox{ padding: 10px; border:1px solid #ddd; border-top-left-radius: 4px;border-top-right-radius: 4px;}
.ystitle{ color: #959595; font-weight: normal; font-size: 14px;}
.codebox{    background-color: #f7f7f9; padding: 10px 0;
    border: 1px solid #e1e1e8; border-top: none;    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;}
#colbox .col-md-1 ,#colbox .col-md-2,#colbox .col-md-3 ,#colbox .col-md-4,#colbox .col-md-5 ,#colbox .col-md-6,#colbox .col-md-7 ,#colbox .col-md-8,#colbox .col-md-9 ,#colbox .col-md-10,#colbox .col-md-11 ,#colbox .col-md-12{
	border:2px solid #ccc;
	padding: 5px 0;
	text-align: center;
	border-left:none ;
}
#colbox  .first{border-left:2px solid #ccc;}
.wbk .col-md-12 { text-align: left;}
.wbk .uiPage-value  .col-md-12{ text-align: center;}
#ysTitle{ position: fixed; top: 40px; width: 100%; background: #fff; z-index: 999;}
.pa20.ysinner { padding-top: 80px;}
