@charset "utf-8";

.w960{ width: 960px; margin-left:  auto;margin-right:  auto;}
.ysbox{ padding: 10px; border:1px solid #ddd; border-top-left-radius: 4px;border-top-right-radius: 4px;}
.ystitle{ color: #959595; font-weight: normal; font-size: 14px;}
.codebox{    background-color: #f7f7f9; padding: 10px 0;
    border: 1px solid #e1e1e8; border-top: none;    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;}
.yscolmdbox .col-md-1 ,.yscolmdbox .col-md-2,.yscolmdbox .col-md-3 ,.yscolmdbox .col-md-4,.yscolmdbox .col-md-5 ,.yscolmdbox .col-md-6,.yscolmdbox .col-md-7 ,.yscolmdbox .col-md-8,.yscolmdbox .col-md-9 ,.yscolmdbox .col-md-10,.yscolmdbox .col-md-11 ,.yscolmdbox .col-md-12{
	border:2px solid #ccc;
	padding: 5px 0;
	text-align: center;
	border-left:none ;
}
.yscolmdbox  .first{border-left:2px solid #ccc;}
.wbk .col-md-12 { text-align: left;}
.wbk .uiPage-value  .col-md-12{ text-align: center;}
#ysTitle{ position: fixed; top: 40px; width: 100%; background: #fff; z-index: 999;}
.pa20.ysinner { padding-top: 80px;}
